<head>
  <%= include_gon %>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <%= javascript_include_tag "google_maps" %>
</head>

<body>
  <header></header>
  <nav></nav>
  <section class="mapCanvas">
    <div id="googleMap" ></div>
    <aside></aside>
  </section>
</body>



