<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<%= javascript_include_tag "google_maps" %>
</head>



</script>

Hello Mason

<div id='coord'>some text</div>

<div id="googleMap" ></div>
