<head>
  <%= include_gon %>
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <%= javascript_include_tag "google_maps" %>
</head>

<body>
  Hello Mason

  <div id='coord'>some text</div>

  <div id="googleMap" ></div>

  <div id="map" ></div>

</body>



